---
title: Tags
layout: default
permalink: /tags/
---

<button type="button" name="clear" class="btn" data-tag="clear">clear</button>
{% assign tags = site.data.tags | sort %}

{% for tag in tags %}
<button type="button" name="{{tag}}" class="btn" data-tag="{{tag}}">{{tag}}</button>
{% endfor %}

<hr />
[<span class="count"></span>]

<ul>
  {% for page in site.pages %}
  {% if page.tags.size > 0 %}
  <div class="post-wrapper hidden" {% for tag in page.tags %} data-{{tag}} {% endfor %}>
    <li>
      <article class="page-preview">
          <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% assign crumbs = page.url | append: "/"  | replace: '//', '/' | split: '/' %}
          {% if crumbs.size >= 2 %}<sub>{{ crumbs[-2] }}</sub>{% endif %}
      </article>
    </li>
  </div>
  {% endif %}
  {% endfor %}
</ul>


<!--
     <h1 id="tags-index">Tags Index</h1>

     {% capture site_tags %}{% for tag in site.data.tags %}{% if tag %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}{% assign docs_tags = "" %}{% for doc in site.docs %}{% assign ttags = doc.tags | join:',' | append:',' %}{% assign docs_tags = docs_tags | append:ttags %}{% endfor %}
     {% assign all_tags = site_tags | append:docs_tags %}{% assign tags_list = all_tags | split:',' | uniq | sort %}

     {% for tag in tags_list %}{% if tag %}<h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag }}</h3>
     <div class="post-list" style="margin-bottom:40px">
     {% for post in site.data.tags[tag] %}<div class="tag-entry">
     <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
     <time style="font-style:italic; float:right" datetime="{{- post.date | date_to_xmlschema -}}"> {{- post.date | date: "%B %d, %Y" -}}</time>
     </div>{%- endfor -%}
     {% for doc in site.docs %}{% if doc.tags contains tag %}
     <div class="tag-entry">
     <a href="{{- site.baseurl -}}{{- doc.url -}}">{{ doc.title }}</a>
     <time style="font-style:italic; float:right" datetime="{{- doc.date | date_to_xmlschema -}}"> {{- doc.date | date: "%B %d, %Y" -}}</time>
     </div>{% endif %}{% endfor %}
     </div>{% endif %}{%- endfor -%}
-->
