---
layout: page
---

<h1>{{ page.title }}</h1>

<h4>Table of Contents</h4>

{% assign thislength = page.url | size %}
{% assign thisdepth = page.url | split: "/" | size | plus: 1 %}
<!-- This depth: {{ thisdepth }} -->
{% assign pages = site.pages | sort: "title" %}
<ul>
    {% for child in pages %}
        {% assign prefix = child.url | slice: 0, thislength %}
        {% assign depth = child.url | split: "/" | size %}
        {% if prefix == page.url and thisdepth == depth%}
            <li><a href="{{ site.baseurl }}{{ child.url }}">{{ child.title }}</a>
                <!-- <sub>{{ depth }}</sub> -->
            </li>
        {% endif %}
    {% endfor %}
</ul>
