---
layout: default
---


{{ content }}
{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}

<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
 MathJax.Hub.Config({
     jax: ["input/TeX", "output/HTML-CSS"],
     displayAlign: "left"
 });
</script>

{% if page.last_update %}
    <span class="last-update" style="font-style: italic;">Last Update: {{ page.last_update | date: "%Y-%m-%d %I:%M:%S %p" }}</span>
{% endif %}

<hr />

<div>
    <script src="https://giscus.app/client.js"
            data-repo="sangwoo-joh/reactions"
            data-repo-id="R_kgDOJFNVQw"
            data-category="Comments"
            data-category-id="DIC_kwDOJFNVQ84CUox9"
            data-mapping="url"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="ko"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>
