---
layout: default
---


{{ content }}
{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}

<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-svg.js"></script>
<script>
  MathJax = {
      tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      chtml: {
          displayAlign: 'center',
          displayIndent: '0'
      },
      svg: {
          displayAlign: 'center',
          displayIndent: '0'
      }
  };
</script>

{% if page.last_update %}
    <span class="last-update" style="font-style: italic;">Last Update: {{ page.last_update | date: "%Y-%m-%d %I:%M:%S %p" }}</span>
{% endif %}

<hr />

<div>
    <script src="https://giscus.app/client.js"
            data-repo="sangwoo-joh/reactions"
            data-repo-id="R_kgDOJFNVQw"
            data-category="Comments"
            data-category-id="DIC_kwDOJFNVQ84CUox9"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light_protanopia"
            data-lang="ko"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>
